apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: pythonapp
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: pythonapp
  namespaceSelector:
    matchNames:
      - pythonapp
  endpoints:
    - port: http
      path: /health
      interval: 30s
