name: CI-CD-EKS

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: himanshuofficial123/pythonapp
  AWS_REGION: ap-south-1
  EKS_CLUSTER: pythonapp-eks

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4


    # Docker Build & Push
  
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build -t $IMAGE_NAME:$IMAGE_TAG .
        docker push $IMAGE_NAME:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

   
    # AWS & EKS Auth

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::105228010195:role/github-actions-eks
        aws-region: ${{ env.AWS_REGION }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --name $EKS_CLUSTER \
          --region $AWS_REGION


    # Deploy to EKS (Rolling Update)
 
    - name: Deploy to EKS
      run: |
        sed -i "s|IMAGE_TAG|$IMAGE_TAG|g" k8s/deployment.yaml
        kubectl apply -f k8s/
